<head>
    <title>  Candidate Selection</title>
    
    
 
  </head>  
<template name="home">

<div class="row mainclass">
    <div class="col-md-2">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <br>
                    <li><a href="#" data-toggle="tab"><h2 style="padding-left:30px">Skillics</h2></a>
                    </li>
                    <br>
                    <li><a href="#overview" data-toggle="tab"><i class="fa fa-list"></i>Overview</a>
                    </li>
                    <br>
                    <li><a href="#stackoverflow" data-toggle="tab"><i class="fa fa-stack-overflow"></i>Stackoverflow</a>
                    </li>
                    <br>
                    <li><a href="#github" data-toggle="tab"><i class="fa fa-github"></i>Github</a>
                    </li>
                    <br>
                    <li><a href="#linkedin" data-toggle="tab"><i class="fa fa-linkedin"></i>LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="tab-content">
          <div class="tab-pane" id="overview">
                <h1>Overview Tab</h1>
          </div>
          <div class="tab-pane " id="stackoverflow">
            <div class="row ">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-8">
                <!--<a href="" class="button">Run Code</a>-->
                  <form class="navbar-form navbar-left" id="stackoverflowID" role="search">
                    <div class="form-group">
                        <input type="text"  id="stackurl" class="form-control" autocomplete="off" placeholder="Enter Your Stackoverflow ID">
                    </div>
                    <button type="submit" class="btn btn-default" id="getData">Get Data</button>
                  </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="stackrow ">
            <br>
                  {{> BasicDetails}}
                   <hr>
                   {{> UserAnswers}}
                   <hr>
                   {{> UserQuestions}}
            </div>
          </div>
          <div class="tab-pane" id="github">
            {{> githubTemplate}}
          </div>
          <div class="tab-pane active" id="linkedin">
              <h1>{{> linkedInDemo}}</h1>
          </div>
        </div>
    </div>
    
</div>
</template>
