<template name="serviceAuthentications">
    <div class="container">
        <div class="row">
          <div class="entry col-md-4 col-md-offset-4">
            <h3>Authenticate your Accounts to create reports</h3><br/>
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#stackoverflow">Stackoverflow</button><br/>
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#github">Github</button><br/>
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#linkedin">Linkedin</button>
          </div>
        </div>
        <div class="row">
            <div class="entry col-md-4 col-md-offset-8">
                 <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#createReport" >Create Report </button>    
            </div>    
        </div>
        
      </div>
      
      <!-- Stackoverflow Modal -->
        <div class="modal fade" id="stackoverflow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Stackoverflow</h4>
              </div>
              <div class="modal-body">
                <h4 align="center">Stackoverflow ID: <input type="text" id="stackID" /></h4>
                <div class="noty">
                    
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="stackSubmit">Authenticate</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Github Modal -->
        <div class="modal fade" id="github" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Github</h4>
              </div>
              <div class="modal-body">
                <h4 align="center">Username: <input type="text" id="gitUName" /></h4>
                <h4 align="center">Password: <input type="password" id="gitPass" /></h4>
                 <div class="noty1">
                    
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="gitSubmit">Authenticate</button>
              </div>
            </div>
          </div>
        </div>
        
            <!-- LinkedIn Modal -->
        <div class="modal fade" id="linkedin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">LinkedIn</h4>
              </div>
              <div class="modal-body">
                <h4 align="center">E-Mail  : <input type="text" id="linkedinId" /></h4>
                <h4 align="center">Password: <input type="password" id="linkedinPass" /></h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        
           <!-- Create Report Modal -->
        <div class="modal fade" id="createReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">LinkedIn</h4>
              </div>
              <div class="modal-body">
                     <h4 align="center">Getting Data From <span id="dataTarget"></span></h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
</template>