<template name="linkedInDemo">
<div class="stackrow">
    <div class="row">
        <div class="col-md-2">
        <div class="imgg">
            <img id="linkedinImage" width="100px" height="100px" src="img/crop.jpg">
        </div>
        </div>
        <div class="col-md-5">
            <h4><strong> <span id="linkedinName"></span></strong></h4>
            <h5><span id="linkedinStatus"></span></h5>
            <h5><span id="linkedinLocation"></span></h5>
        </div>
        <div class="col-md-5">
            <h5><strong>Current: </strong><span id="linkedinCurrentWorking">Redesygn Systems</span></h5>
            <h5><strong>Recommendations: </strong><span id="linkedinRecommendors">10</span></h5>
            <h5><strong>Total Connections: </strong><span id="linkedinTotalConnections">200</span></h5>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <h4><strong>Summary:</strong></h4>
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5><p id="linkedinSummary" style="text-indent:5em;line-height:2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></h5>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-2">
           <h4><strong>Experience:</strong></h4> 
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-5">
            <h4><strong><span id="firstCompRole"> Software Engineer</span></strong></h4>
            <h4><span id="firstCompany">Redesygn Systems</span> </h4>
            <h5><span id="firstDuration">January 2014 - Present</span></h5>
        </div>
        <div class="col-md-5">
            <h5> &nbsp;&nbsp;&nbsp;&nbsp; Sasikanth has 7 Connections from this Company. </h5>
            <ul class="compConnections">
                <li><h5><img class="img-circle" height="30px" width="30px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/23d/2cd/2318a43.jpg"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Nirav Shah</strong></h5></li>
                <li><h5><img class="img-circle" height="30px" width="30px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/23d/2cd/2318a43.jpg"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Sasikanth</strong></h5></li>
            
            </ul>
            <h5 align="right" style="margin-right:5em"><a href="">View All Connections</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-5">
            <h4><strong><span id="firstCompRole"> Associative Software Engineer</span></strong></h4>
            <h4><span id="firstCompany">My Previous Company</span> </h4>
            <h5><span id="firstDuration">January 2013 - December 2013</span></h5>
        </div>
        <div class="col-md-5">
            <h5> &nbsp;&nbsp;&nbsp;&nbsp; Sasikanth has 20 Connections from this Company. </h5>
            <ul class="compConnections">
                <li><h5><img class="img-circle" height="30px" width="30px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/23d/2cd/2318a43.jpg"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Nirav Shah</strong></h5></li>
                <li><h5><img class="img-circle" height="30px" width="30px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/23d/2cd/2318a43.jpg"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Sasikanth</strong></h5></li>
            
            </ul>
            <h5 align="right" style="margin-right:5em"><a href="">View All Connections</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-5">
            <h4><strong><span id="firstCompRole">Intern</span></strong></h4>
            <h4><span id="firstCompany">My First Company</span> </h4>
            <h5><span id="firstDuration">January 2012 - December 2012</span></h5>
        </div>
        <div class="col-md-5">
            <h5> &nbsp;&nbsp;&nbsp;&nbsp; Sasikanth has 50 Connections from this Company. </h5>
            <ul class="compConnections">
                <li><h5><img class="img-circle" height="30px" width="30px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/23d/2cd/2318a43.jpg"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Nirav Shah</strong></h5></li>
                <li><h5><img class="img-circle" height="30px" width="30px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/23d/2cd/2318a43.jpg"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Sasikanth</strong></h5></li>
            
            </ul>
            <h5 align="right" style="margin-right:5em"><a href="">View All Connections</a></h5>
        </div>
    </div>
    <div id="exp">
        
    </div>
    <div id="expModals">
        
    </div>
    <div class="row">
        <div class="col-md-4">
           <h4><strong>Skills:</strong></h4> 
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-10">
            <div id="skillChart">
                <h4><span class="label label-success">MeteorJS</span></h4>
                <h4><span class="label label-success">Javascript</span></h4>
                <h4><span class="label label-success">Bootstrap</span></h4>
                <h4><span class="label label-success">.Net</span></h4>
                <h4><span class="label label-success">MongoDB</span></h4>
            </div>
        </div>
        <div class="col-md-1">
           
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
           <h4><strong>Following:</strong></h4> 
        </div>
        <div class="col-md-9">
            
        </div>
        <div class="col-md-1">
           
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-11">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/5/000/20a/08e/3306bb5.jpg" /> 
                    <h5><strong>Guy Kawasaki</strong></h5>
                    <h5>Cheif Evangelist at Canava</h5>
                </div>
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/1/000/1a5/12e/0e26289.jpg" /> 
                    <h5><strong>Mohamad El-Erian</strong></h5>
                    <h5>Chair Investment Advisor Committee at Microsoft</h5>
                </div>
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/1/000/065/01a/0914a4c.jpg" /> 
                    <h5><strong>Brian Wong</strong></h5>
                    <h5>Founder and CEO at Kiip</h5>
                </div>
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/7/000/1b4/281/248e830.jpg" /> 
                    <h5><strong>Daniel Rosensweig</strong></h5>
                    <h5>President and CEO at Chegg.com</h5>
                </div>
            </div>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-11">
            <div class="row">
                
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/1/000/1a5/12e/0e26289.jpg" /> 
                    <h5><strong>Mohamad El-Erian</strong></h5>
                    <h5>Chair Investment Advisor Committee at Microsoft</h5>
                </div>
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/7/000/1b4/281/248e830.jpg" /> 
                    <h5><strong>Daniel Rosensweig</strong></h5>
                    <h5>President and CEO at Chegg.com</h5>
                </div>
               
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/5/000/20a/08e/3306bb5.jpg" /> 
                    <h5><strong>Guy Kawasaki</strong></h5>
                    <h5>Cheif Evangelist at Canava</h5>
                </div>
                
                 <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/1/000/065/01a/0914a4c.jpg" /> 
                    <h5><strong>Brian Wong</strong></h5>
                    <h5>Founder and CEO at Kiip</h5>
                </div>
                
            </div>
        </div>
    </div>   
</div>
    <!-- <div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-11">
            <div class="row">
                
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/1/000/1a5/12e/0e26289.jpg" /> 
                    <h5><strong>Mohamad El-Erian</strong></h5>
                    <h5>Chair Investment Advisor Committee at Microsoft</h5>
                </div>
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/7/000/1b4/281/248e830.jpg" /> 
                    <h5><strong>Daniel Rosensweig</strong></h5>
                    <h5>President and CEO at Chegg.com</h5>
                </div>
               
                <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/5/000/20a/08e/3306bb5.jpg" /> 
                    <h5><strong>Guy Kawasaki</strong></h5>
                    <h5>Cheif Evangelist at Canava</h5>
                </div>
                
                 <div class="col-md-3">
                    <img class="img-rounded" width="100px" height="100px" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/1/000/065/01a/0914a4c.jpg" /> 
                    <h5><strong>Brian Wong</strong></h5>
                    <h5>Founder and CEO at Kiip</h5>
                </div>
                
            </div>
        </div> -->
        
   
    <!--<div class="row">
        <div class="col-md-8">
           
        </div>
        <div class="col-md-1">
            
        </div>
        <div class="col-md-3">
           <h5 align="right" style="margin-right:5em"><a href="">View All People</a></h5>
        </div>
    </div>-->
     <div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-3">
           <!-- <h5><strong>Companies:</strong></h5>    -->
        </div>
        <div class="col-md-8">
           
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-11">
            <div class="row followingCompaniesFirst">

            </div>
             <div class="row followingCompaniesSecond">
             
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
           
        </div>
        <div class="col-md-1">
            
        </div>
        <div class="compFollowing col-md-3">
           
        </div>
    </div>
    
    <!--<div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-3">
           <h5><strong>People:</strong></h5>   
        </div>
        <div class="col-md-8">
           
        </div>
    </div>
    <br/>
     <div class="row">
        <div class="col-md-1">
           
        </div>
        <div class="col-md-11">
            <div class="row followingPeopleFirst">

            </div>
             <div class="row followingPeopleSecond">
             
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
           
        </div>
        <div class="col-md-1">
            
        </div>
        <div class="peopleFollowing col-md-3">
           
        </div>
    </div>-->
</template>