@import url(http://fonts.googleapis.com/css?family=Varela+Round);
h1,h2,h3,h4,h5,h6,label,span,a,p,div{font-family: 'Varela Round', cursive;}


#stackurl
{
   width:500px;
}
.basicDetails
{
   padding-left:30px;
}
.questionArea
{
   margin-top:5px;
}
.main-row
{
    border: 1px solid;
}
.stackrow
{
   border:1px solid;
   margin-right:30px;
   margin-left:30px;
   font-size:16px;
}
.mainclass
{
    max-width:100%;
    margin-left:8px;
    /*background-color:#ECF0F1;*/
    
}
.imgg{
    margin-left: 1em;
    margin-top: 0.5em;
}
.compConnections
{
    list-style-type: none;
}

.fa
{
    padding-right:15px;
}

#githubImage
{
    margin-left:17px;
}

.modal-dialog {
    max-height: 600px;
}