<template name="githubLoginButtons">
    <!-- Button trigger modal -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Link Github Account
    </button><br/><br/>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" >Login With Github</h4>
          </div>
          <div class="modal-body">
            <form id="githubLoginForm">
                Username:  <input type="text" class="form-control" id="githubUsername" value="sasikanth513" placeholder="Github Username"><br><br>
                Password:  <input type="password" class="form-control" id="githubPassword" value="dronavalli513" placeholder="Github Password"><br><br>
                 <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
                  Login
                </button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>