<template name="githubTemplate">
    <br>
    <div class="row ">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
        
        </div>
        <div class="col-md-2">
             {{> githubLoginButtons}} 
        </div>
    </div>
    <div class="row">
        <div class="stackrow">
            <br>
              {{> githubBasicDetails}}
               <hr>
               {{> githubUserRepos}}
             <!-- {{> githubUserQuestions}}
                <hr>
              {{> githubUserAnswers}}-->
        </div>
    </div>
</template>