<head>
    <title>  Candidate Selection</title>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
    </script>
 
  </head>  
<template name="githubUserRepos">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-2">
            <h4><strong>Select Project:</strong></h4>
        </div>
        <div class="col-md-2">
            <div class="btn-group ">
              <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown">
                <label id="repoName">Select Repo</label> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu user-repos">

              </ul>
            </div>
        </div>
        <div class="col-md-5">
            
        </div>
    </div>
   <br/><br/>
    <div class="row basicDetails">
       <div class="col-md-4">
           <strong> Repo Forks:</strong>  <span id="noOfForks"></span>
        </div>
        <div class="col-md-4">
           <strong> Repo Stars: </strong> <span id="noOfStars"></span>
        </div>
        <div class="col-md-4">
            <strong>Repo Subscribers: </strong><span id="noOfSubscribes"></span>
        </div>
    </div>
    <br/><br/>
    <div class="row basicDetails">
        <div class="col-md-4">
            <strong>Additions/Deletions:</strong> <span id="additions"></span>++/<span id="deletions"></span>--
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    <br/><br/>
     <div class="row basicDetails">
        <div class="col-md-6">
           <h4><strong>No of lines added to repo by Date:         </strong></h4>
            <!--<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="Number of Lines added to repository by this author by date."></i>-->
        </div>
        <div class="col-md-5">
            <h4><strong>Languges Used:</strong></h4>
        </div>
       
    </div>
    <br/>
    <div class="row basicDetails">
        <div class="col-md-6">
            <div id="chart1b" ></div>
        </div>
        <div class="col-md-5">
            <div id="pieChart"></div>
        </div>
       
    </div>
    <br/>
    <div class="row basicDetails">
        <div class="col-md-6">
           <h4><strong>Commits By Date</strong></h4>
        </div>
        <div class="col-md-5">
            <h4><strong>Popular Gists</strong></h4>
        </div>
       
    </div>
    <br/><br/>
    <div class="row basicDetails">
        <div class="col-md-6">
           <div id="lineChart" ></div>
        </div>
        <div class="col-md-5">
            <ul id="gists">
                
            </ul>
        </div>
       
    </div>
</template>