<template name="githubBasicDetails">
    <div class="row">
        <div class="col-md-2">
            <!--<h3>Basic Details</h3>-->
            <img id="githubImage" width="100px" height="100px">
        </div>
        <div class="col-md-5">
            <strong>Number of public Repos: </strong> <span id="noOfPublicRepos"></span><br><br>
            <strong>Numer of Owned Private Repos: </strong> <span id="noOfPrivateRepos"></span><br><br>
           <strong> Location:</strong>  <span id="location"></span>
        </div>
        <div class="col-md-5">
            <strong>Number of Followers:</strong>  <span id="followers"></span><br><br>
           <strong> Number of Following:</strong>  <span id="following"></span><br><br>
           <strong> Hireable:</strong>  <span id="hireable"></span>
        </div>
    </div>
</template>