<template name="BasicDetails">
    <div class="basicDetails">
        <div class="row">
            <div class="col-md-4">
              <h4 align="left"><strong>Basic Information:</strong></h4>
            </div>
            <div class="col-md-2">
              <!-- <strong>Accept Rate:</strong> -->
            </div>
            <div class="col-md-2">
               <!--  <div class="progress">
                    
                </div> -->
            </div>
            <div class="col-md-5">
              
            </div>
        </div>
      <div class="row">
        <div class="col-md-1">
        
        </div>
        <div class="col-md-3">
             <img id="pimg" width="64px" height="64px" border="0px">
        </div>
        <div class="col-md-4">
            <label>User Name:</label><label id="uname"> </label><br><br>
            <label>Reputation:</label><label id="rep"> </label>
        </div>
        <div class="col-md-4">
            <label>Location:</label><label id="loc"> </label><br><br>
            <label>Website URL:</label> <a id="webSite" target="_blank"></a>
        </div>
      </div>
    </div>
</template>
