<template name="UserAnswers">
    <div class="basicDetails">
        <div class="row">
            <div class='col-md-4'>
                <strong>User Answers:</strong><br> 
            </div>
            <div class="col-md-4">
               <h5>Number of questions Answered:  <label id="noOfAnswers"></label></h5>
            </div>
            <div class="col-md-4">
               <h5> Number of Accepted Answeres:   <label id="noOfAcceptedAnswers"></label></h5>
            </div>
        </div>
        <hr>
        <div class="AnswerArea">
            <div class="row">
                <div class="col-md-5">
                    <label>Accepted Rate:</label>
                    <div id="bigfella" style="width:400px; height:400px"> </div>
                </div>
                <div class="col-md-1">
                
                </div>
                <div class="col-md-5">
                    <label>Answered By Technology:</label>
                    <div id="ansByTechnology" style="height:400px;"></div>
                </div>
                <div class="col-md-1">
                
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Most Up Voted Answers:</label>
                <div id="mostUpvoteAns" style="height:300px;"></div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <label>Most Voted Answers (Top 5):</label><br/>
                <h4 style="padding-top:12px"><a href="" >1.CSS rule to disable text selection highlighting?</a></h4>
                <h4 style="padding-top:12px"><a href="" >2.How to set cellpadding and cellspacing in CSS?</a></h4>
                <h4 style="padding-top:12px"><a href="" >3.Change an input's HTML5 placeholder color with CSS?</a></h4>
                <h4 style="padding-top:12px"><a href="" >4.How to center a div in a div - horizontally?</a></h4>
                <h4 style="padding-top:12px"><a href="" >5.Is it possible to apply CSS to half of a character?</a></h4>
            </div>
            
        </div>
   </div>
   {{init}}
   <hr>
</template>