<template name="UserQuestions">
    <div class="basicDetails">
       <div class="row">
           <div class="col-md-4">
             <strong>User Questions:</strong> 
          </div>
          <div class="col-md-8">
             Number of questions asked:  <label id="noOfQuestions"></label>
          </div>
       </div>
       <hr>
       <div class="row questionArea">
      
        <div class="col-md-5">
            <label>Questions By Technology:</label>
            <div id="mostQuesTechnology" style="height:400px;"></div>
        </div>
         <div class="col-md-1">
            
        </div>
         <div class="col-md-5">
            <label>Most Viewed Question:</label>
            <div id="questionViews" style="height:00px;"></div>
            <!--<div id="que" style="height:50px;width:500px;"></div>-->
         </div>
         <div class="col-md-1">
            
        </div>
       </div> 
  </div>
</template>